.SLIDER{
    width: 50%;
    height: 300px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-80%);
    background-image:url('https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHBpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px rgb(0, 0, 0);
    animation: slider 9s infinite linear;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
