@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #3c4657;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(253, 245, 245);
}
header{
    background-color: var(--main-bg-color);
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
nav{
    display: flex;
    padding-left:90px;
    justify-content: space-evenly;
         
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:7vh;
    background-color:white;
    border-radius: 50%;
    border-color: azure;
}
nav ul{
    height: 60px;
    display: flex;
    justify-items:flex-start ;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
    text-align: end;
    justify-content: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: beige;
    color: blue;
}
.SEARCH{
    display: flex;
    align-items: center;
}
.SEARCH input{
    width:20vw;
    height: 30px;
    border-radius: 5px;
    margin: 0 10px 0 50px;
    padding: 0 12px;
}
.SEARCH button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.btn{
    padding: 10px 30px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    margin-top:1px;
}
.head1{
    background-color: antiquewhite;
    color:blue;
    display:flex;
    justify-content:left;
    font-size: 30px;
    padding-left: 20px;
    text-transform: uppercase;
}
.head2{
    background-color: antiquewhite;
    color:blue;
    display:flex;
    justify-content:left;
    font-size: 30px;
    padding-left: 20px;
    text-transform: uppercase;
}
.container{
    box-sizing: border-box;
    margin-top:365px;
}
.container2{
    box-sizing: border-box;
    margin-top: 25px;
}
.box{
box-sizing: border-box;
display: flex;
}
.box img{
    background-color: white;
    width: 200px;
    margin-top: 20px;
    border: 3px;
    border-color: aquamarine;
    border-radius:10%;
    margin-bottom: 30px;
}
.box-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 25px;
}
.box-items:hover{
    cursor: pointer;
}
footer{
    height:5vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Lato', sans-serif;
}
.lines{
    box-sizing: border-box;
    color: rgb(47, 0, 255);
    justify-content: center;
    display:inline-block;
    padding-top:0px;
    text-align:left;
    border: 3px;
    border-color: blanchedalmond;
    border-radius:10%;
    line-height: 29px;
}